@import 'variables';
@import 'media';
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-column{
    width: 50%;
    flex-direction: column;
    padding-left: 3vh;
    padding-right: 3vh;   
    min-height: 470px;
    @include desktop{
        width: 100%;
        flex-grow: 1;
        padding-left: 0px;
        height: 50%;
        padding-right: 0px;
    }
}
.span-center{
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.header{
    min-height: 90px;
    margin-top: 1vh;
    width: 100%; 
    position: relative;
    @include desktop{
        width:95%;
    }
}
.p-header{
    font-size: 32px;
    margin-top: 0px;
    margin-bottom: 20px;
}
.icon-round{
    min-height: 50px;
    min-width: 50px;
    max-height: 50px;
    max-width: 50px;
    border: solid 2px;
    border-radius: 50% !important;
}
.gray-border-color{
    border-color: $gray-color;
}
.red-border-color{
    border-color: $red-color;
}
.gray-icon{
    color: $gray-color;
    vertical-align: middle;
}
.button1{
    border-radius: 5px;
    background-color:  $red-color;
    padding: 6px 12px;
    font-size: 15px;
    border-width: 1px;
    border-color: white;
    &:enabled:hover{
        background-color: rgb(51, 51, 51);
        cursor: pointer;
        color:white;
     }
}